.banner {
  position: relative;

  background-image: url("../../images/home-bg-2.png");
  height: 100%;
  width: 100%;
}
.banner-content {
  flex: 0 50%;
}
.banner-img {
  flex: 0 50%;
}

.banner-btn {
  min-height: 3.3125rem;
  display: flex;
  justify-content: flex-start;
}
.section_title {
  position: relative;
  max-width: 695px;
  margin: 40px auto;
  text-align: center;
}

.home_company {
  margin: 1.5rem;
  padding-bottom: 130px;
  background: #f5faff;
}
.home_company-content {
  display: flex;
}

.home_company-title {
  flex: 0 40%;
}
.align-items-center {
  align-items: center !important;
}

.choose-img {
  flex: 0 1 40%;
}
.accordion {
  flex: 0 0 50%;
  max-width: 50%;
}
.accordion-wrapper ~ .accordion-wrapper {
  margin-top: 2rem;
}
.home_process {
  background-color: #cfd1db;
  width: 100%;
  margin: 2rem;
  padding: 1rem;
}
.home_process-tittle {
  position: relative;
  text-align: center;
  margin: -8px auto 60px;
  
}
.single-process {
  position: relative;
  flex: 0 24%;
}

.home_process .single-process div.icon {
  background: #1e2a55;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 56px;
  margin-bottom: 30px;
  border-radius: 3px;
  position: relative;
}

.home_process .single-process div.icon span.icon img {
  max-width: 100px;
  margin-left: 100px;
  position: absolute;
  animation: run 5s linear infinite;
  top: 20%;
}
@keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 220%;
  }
  100% {
    left: 0;
  }
}

div.content-case {
  background: #fff;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.single-case {
  flex: 0 30%;
  padding: 1rem;
}
.feature {
  width: 100%;
  background-color: #f5faff;
}
.feature-left {
  flex: 40%;
}
.feature-right {
  flex: 40%;
}
.feature-left ul li {
  position: relative;
  text-align: left;
  color: #051242;
  font-size: 18px;
  margin-bottom: 10px;
}
.feature-title {
  text-align: left;
  margin-left: 3rem;
}
a.letsTalk::before {
  background-color: rgb(184, 174, 174);
}
a.letsTalk::after {
  background-color: rgb(184, 174, 174);
}
ul.team-social {
  display: flex;
  justify-content: space-around;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 2;
  bottom: -95px;
  transition: 0.5s;
  width: 100%;
  left: 0;

  transition: 0.6s;
}
ul.team-social li {
  flex: 0 0 16%;
}
.team-slide {
  justify-content: space-around;
}
.text-center {
  text-align: center !important;
}
.teamMember .single-team {
  position: relative;
  margin-bottom: 30px;
  transition: 0.5s;
}
.teamMember .single-team .content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  background: #051242;
  opacity: 0.95;
  transition: 0.5s;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  color: blue;
}

.facebook::before {
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  opacity: 0;
}

.twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
  opacity: 0;
}
.mail::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  opacity: 0;
}
.youtube::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f167";
  opacity: 0;
}
.teamMember .single-team:hover {
  cursor: pointer;
}
.teamMember .single-team:hover .content::before {
  height: 100%;
}
.teamMember .single-team:hover ul.team-social {
  bottom: 21.5%;
}
.teamMember .single-team:hover .icon::before {
  opacity: 1;
}
.line-bnt {
  font-size: 14px;
  color: #293a5c;
  font-weight: 600;
  line-height: 1;
}
.single-blog {
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;

  transition: 0.5s;
  box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.07);
  z-index: 1;
  padding: 1.2rem;
  flex: 0 0 30%;
  max-width: 30%;
}
.blog-post {
  position: relative;
}
.content ul.ul-blog {
  display: flex;
  justify-content: space-around;
}
.blog-post .single-blog .content ul.ul-blog li.li-blog a::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 1.5rem;
  right: 9rem;
  z-index: -1;
  background: #7a7e9a;
}
.blog-post .single-blog::after {
  position: absolute;
  content: "";
  background: #101d4d;
  opacity: 0.8;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 0;

  transition: 0.5s;
  z-index: -1;
  height: 44.5%;
}
.blog-post .single-blog:hover::after {
  width: 100%;
  left: 0;
}
.contact-img {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact-content {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .content input.form-control {
  height: 55px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}
input:focus,
textarea:focus {
  height: 55px;
  margin-bottom: 20px;
  outline: none !important;
  border: 1px solid #295c7e;
  box-shadow: 0 0 10px #719ece;
}

.row-form {
  flex-direction: column;
}
.single-form {
  margin-bottom: 1rem;
  flex: 0 0 90%;
  max-width: 90%;
}
textarea.form-control {
  width: 100%;
  border: 1px solid #eee;
  max-height: 170px;
  min-height: 170px;
  box-shadow: none;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}
.contact .content {
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 4px;
  padding: 30px;
}
.single-form button.box-btn {
  width: 30%;
  max-width: 30%;
}
.contact-img,
.feature-right {
  animation: ani-img 2s linear infinite alternate;
}
@keyframes ani-img {
  from {
    transform: translateY(-2%);
  }
  to {
    transform: translateY(2%);
  }
}
.single-case:hover {
  transform: translateY(-3%);
  transition: all 0.5s ease-in-out;
  color: #3498db;
}
.single-case:hover h3 {
  color: #3498db;
}
