.accordion-title:hover {
  cursor: pointer;
}
.accordion-wrapper {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s ease-in-out;
}
.accordion-content {
  transition: all 0.5s ease-in-out;
}
.accordion-title {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
